@charset "UTF-8"
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #4CABA6,#0897B4);
}

main {
    border-radius: 20px;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #145e5aaf;
}

h1 {
    color: #4C4A59;
    text-align: center;
    text-shadow: 1px 1px 2px #34323db4 ;
}

h2 {
    color: #1B7F7A;
}

p{ 
   text-align: justify; 
}